<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel {{ channel.name }}</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header">
        <a class="home_button" href="{{ url_for('home_page') }}">Home</a>
        {% if channel %}
            <h1 class="header-text">{{ channel.name }}</h1>
        {% else %}
            <h1>Channel not found</h1>
        {% endif %}
    </div>

    <div class="messages-container">
        <div class="messages">
            {% if channel %}
                {% for message in messages %}
                <div class="message {% if message.sender == 'Bot' %}bot-message{% else %}user-message{% endif %}">
                    {% if message.sender == 'Bot' %}
                    <img src="../static/unicorn.png" class="icon left">
                {% endif %}
                    <h2 class="message-sender">{{ message.sender }}</h2>
                    <p class="message-text">{{ message.content|safe }}</p>
                    <p style="font-size: 60%">{{ message.timestamp }}</p>
                </div>
                {% endfor %}
            {% else %}
                <h1>Channel not found</h1>
            {% endif %}
        </div>
    </div>

    <div class="input">
        <form id="messageForm" action="post" method="post">
            <input type="hidden" name="channel" value="{{ channel.endpoint | urlencode }}">
            <input type="text" name="sender" id="sender" class="input-field sender-field" placeholder="Sender">
            <input type="text" name="content" id="content" class="input-field message-field" placeholder="Message">
            <input type="submit" value="Post" class="post-button">
        </form>
    </div>

    <script>
        window.addEventListener('load', function() {
            var messagesContainer = document.querySelector('.messages-container');
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        });
    </script>
</body>
</html>