<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="header-home">
        <h1 class="header-text">ChatBot</h1>
        <a href="{{ url_for('home_page') }}" class="chat-bot"><img src="../static/chatbot.png"></a>
    </div>
    <div >
        <div class="channels">
            {% for channel in channels %}
                <div class="channel-tabs"><a class="tab-names" href="/show?channel={{ channel.endpoint | urlencode }}">{{ channel.name }}</a></div>
            {% endfor %}
        </div>
    </div>
</body>

</html>